 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5faff;
    color:#333;
}

header{
    display:flex;
    align-items:center;
    gap:20px;
    padding:20px;
    background:white;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

header img{
    width:90px;
}

header h1{
    color:#0077b6;
    font-size:32px;
}

header p{
    color:#555;
}


nav{
    background:#0077b6;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}


.hero{
    height:450px;
    background:
    linear-gradient(rgba(0,119,182,.6),rgba(0,119,182,.6)),
    url("images/clinic.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
}


.hero h2{
    font-size:45px;
}


.btn{
    display:inline-block;
    margin-top:20px;
    padding:15px 30px;
    background:#00b4d8;
    color:white;
    border-radius:30px;
    text-decoration:none;
}


section{
    padding:50px 20px;
    text-align:center;
}


.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}


.card{
    background:white;
    width:250px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}


.doctor-card{
    background:white;
    max-width:300px;
    margin:auto;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}


.doctor-card img{
    width:150px;
    border-radius:50%;
}


form{
    max-width:500px;
    margin:auto;
}


input,select,textarea,button{

    width:100%;
    padding:15px;
    margin:10px 0;
    border-radius:8px;
    border:1px solid #ccc;

}


button{
    background:#0077b6;
    color:white;
    border:none;
    cursor:pointer;
}


.whatsapp{

    position:fixed;
    right:20px;
    bottom:20px;
    background:#25D366;
    color:white;
    padding:15px 20px;
    border-radius:50px;
    text-decoration:none;

}


footer{

    background:#0077b6;
    color:white;
    padding:20px;
    text-align:center;

}


@media(max-width:600px){

header{
    flex-direction:column;
    text-align:center;
}

nav a{
    display:block;
    margin:10px;
}

.hero h2{
    font-size:30px;
}

}/* Patient Reviews */

#reviews{
    padding:70px 20px;
    background:#f8fbff;
    text-align:center;
}

.review-container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
}

.review-card{
    width:300px;
    background:#ffffff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
    transition:0.3s;
}

.review-card:hover{
    transform:translateY(-10px);
}

.review-card h3{
    color:#ffb400;
    font-size:24px;
}

.review-card p{
    margin:15px 0;
    color:#555;
    line-height:1.6;
}

.review-card h4{
    color:#0077cc;
}/* Gallery */

#gallery{
    padding:70px 20px;
    text-align:center;
    background:#ffffff;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin-top:30px;
}

.gallery img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.05);
    }
